@font-face {
    font-family: 'elegant'; // Nadaj nazwę fontowi
    src: url('../assets/Libre-Bodoni-master/fonts/OTF/LibreBodoni-Bold.otf') format('opentype'); // Określ ścieżkę do pliku fontu
  }

@font-face {
    font-family: 'handwriten'; // Nadaj nazwę fontowi
    src: url('../assets/great-vibes/GreatVibes-Regular.ttf') format('opentype'); // Określ ścieżkę do pliku fontu
  }